.nav {
    display: flex;
    padding: 0.75rem 1rem;
    gap: 2rem;
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    z-index: 1;
}

.link {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;

    & span {
        display: inline-block;
        transition: transform 200ms;
    }

    & p {
        font-weight: 500;
        margin: 0;
        opacity: 0.8;
        font-size: 0.9rem;
        line-height: 1.5;
        max-width: 30ch;
        text-wrap: balance;
    }
}

@media (hover: hover) and (pointer: fine) {
    .link:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);

        & span {
            transform: translateX(4px);
        }

    }

    @media (prefers-reduced-motion) {
        .link:hover span {
            transform: none;
        }
    }

    /* Mobile */
    @media (max-width: 700px) {

        .nav {
            flex-direction: column;
            max-width: 90vw;
            padding: 1rem 0.25rem;
        }

        .link {
            padding: 0.25rem 1rem;
        }

        .description {
            font-size: 0.8rem;
        }
    }
}