.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 2rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.description {
    font-size: 0.85rem;
    font-family: var(--font-mono);

    & p {
        margin: 0;
        padding: 1rem;
        background-color: rgba(var(--callout-rgb), 0.5);
        border: 1px solid rgba(var(--callout-border-rgb), 0.3);
        border-radius: var(--border-radius);

        & a {
            color: inherit;
            text-decoration: underline;
        }
    }
}

/* Mobile */
@media (max-width: 700px) {

    .description {
        font-size: 0.75rem;
    }
}